@keyframes countdown-0 {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 533px;
  }
}
@keyframes countdown-1 {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 660px;
  }
}
@keyframes countdown-2 {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 848px;
  }
}
@keyframes countdown-3 {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 1037px;
  }
}
