.countdown {
  position: relative;
  width: 100%;
}
.countdown__svg-1 {
  position: absolute;
  transform: rotateY(-180deg) rotateZ(-90deg);
  height: 17em;
  width: 17em;
  bottom: -134.5px;
  left: -64px;
  z-index: -1;
}
.countdown__circle-1 {
  stroke-dasharray: 690px;
  stroke-dashoffset: 0px;
  stroke-linecap: unset;
  stroke-width: 30px;
  stroke: #b298dc;
  fill: none;
}
.countdown__svg-2 {
  position: absolute;
  transform: rotateY(-180deg) rotateZ(-90deg);
  height: 21em;
  width: 21em;
  bottom: -167px;
  left: -93px;
}
.countdown__circle-2 {
  stroke-dasharray: 879px;
  stroke-dashoffset: 0px;
  stroke-linecap: unset;
  stroke-width: 30px;
  stroke: #a663cc;
  fill: none;
}
.countdown__svg-3 {
  position: absolute;
  transform: rotateY(-180deg) rotateZ(-90deg);
  height: 24em;
  width: 24em;
  bottom: -190px;
  left: -112px;
  z-index: -1;
}
.countdown__circle-3 {
  stroke-dasharray: 1037px;
  stroke-dashoffset: 0px;
  stroke-linecap: unset;
  stroke-width: 30px;
  stroke: #6f2dbd;
  fill: none;
}

@keyframes countdown-1 {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 690px;
  }
}
@keyframes countdown-2 {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 879px;
  }
}
@keyframes countdown-3 {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 1037px;
  }
}
